.cards{
  color: white;
  min-height: 100vh;
  background-image: url(../../assets/card-logo.svg), url(../../assets/bg-card-front.png), url(../../assets/bg-card-back.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 3em,16em 10em, 16em 10em;
  background-position:2em 9em, 1em 7.6em, 4em 2em ;

  .cardback{
    padding-top: 6.4em;
    padding-left: 16em;
  }

  .cardfront{
    display: flex;
    flex-direction: column;
    .dados{
          padding-top: 6.2em;
          padding-left:2.5em;
          }
    .nome_datadevalidade{
      display: flex;
      flex-direction: row;


      .nome, .datadevalidade{
        margin-right: 7em;
        margin-top: 2em;
        font-size: 14px;
      }
    }
   }

}



/* Desktop */


