.cards{
  color: white;
  min-height: 100vh;
  background-image: url(../../assets/card-logo.svg), url(../../assets/bg-card-front.png), url(../../assets/bg-card-back.png);
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-size: 3em,14em 10em, 14em 10em;
  background-position:2em 9em, 1em 8em, 6em 2em ;
}

h1{
  padding-top: 14em;
  padding-left:2em;
}

/* Desktop */

@media(min-width: 375px){
  .cards{

  }

}
