.cardfront{
  min-height: 100vh;
  background-image: url(../../assets/bg-card-front.png), url(../../assets/bg-card-back.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 14em 10em, 14em 10em;
  background-position:1em 8em, 6em 2em ;
}
