<div class="formulario">
<form class="form" (ngSubmit)="visualizar()">
  <label for="nome">Coloque seu nome no cartão</label>
  <input id="nome" class="dadoscard" type="text" [(ngModel)]="nome" name="nome"/>

  <label for="numeroDoCartao">Coloque o número do cartão</label>
  <input id="numeroDoCartao" class="dadoscard" type="text" [(ngModel)]="numeroDoCartao" name="numeroDoCartao" />

  <div class="data-cvc">

    <div class="data">
  <label for="data" >Data que expira</label>
    <input id="data" class="dadoscard_data_cvc" type="text" [(ngModel)]="data" name="data"  />
  </div>

  <div class="cvc">
  <label for="cvc">cvc</label>
    <input id="cvc" class="dadoscard_data_cvc" type="number" [(ngModel)]="cvc" name="cvc" />
  </div>

  </div>

<button type="submit" class="botao" >Confirmar</button>
</form>
</div>

